<!-- Logo -->
<div class="logo">
  <img src="/assets/images/qunote-logo-g.svg" alt="qunote" />
</div>
<!-- <div class="hamburger" *ngIf="service.isLoad == true">
  <button type="button" pButton pRipple icon="pi pi-bars"
    [style]="{'height' : '48px',    'border-radius': '90px' , 'background-color': '#8bcd13'}"
    (click)="menu.toggle($event)"></button>
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
  hambrg
</div> -->
<!-- <a routerLink="loader">lazy loading</a> -->
<router-outlet></router-outlet>
<!-- footer -->
<footer>
  <div class="logo1">
    <img src="/assets/images/qunote-logo-g.svg" alt="qunote" />
  </div>
  <div class="abc">
    <h6>Developed by Bubblegate © {{date}} | v3.0.0
    </h6>
  </div>
  <div class="xyz">
    <h6>Terms and Conditions | Privacy Policy | Service Agreement | Contacts</h6>
  </div>
</footer>
