<main>
  <div>
    <!-- form Heading -->
    <div>
      <h1 class="heading">Let's find your account</h1>
    </div>
    <!-- form start -->
    <form [formGroup]="forgetpassForm" (ngSubmit)="onSUbmit()">
      <!-- email -->
      <div>
        <div class="emailInput">
          <input type="text" placeholder="Email address*" formControlName="email">
        </div>
        <!-- email validations -->
        <div class="valiEmail" *ngIf="forgetpassForm.get('email').errors && forgetpassForm.get('email').dirty">
          <span class="help-block" *ngIf="forgetpassForm.get('email').errors['required']">Email is
            required</span>
          <span class="help-block"
            *ngIf="(!forgetpassForm.get('email').errors['email'] || forgetpassForm.get('email').invalid['email'] ) && forgetpassForm.get('email').value">Email
            must be a valid email address</span>
        </div>

      </div>
      <!-- button -->
      <div class="btn">
        <button class="btn btn-secondary btn-block submit" type="submit" [disabled]="!forgetpassForm.valid">Find Account
        </button>
        <a href="/">Back to sign in</a>
      </div>
    </form>
    <!-- registration link -->
    <div>
      <div class="regiLinkBox">
        <h2>Not using Qunote yet?</h2>
        <div class="btn1">
          <button class="btn btn-primary" routerLink="/register">Register for a free trail</button>
        </div>
      </div>
    </div>
  </div>
</main>
